img{
    width: 90%;
    width: 80vh;
}
#home{
    text-decoration: none;
    font-size: 35px;
    text-align: left;
    color: orange
}
#soccerBase {
    width: 30%;
}
#soccerFieldSetUp {
    width: 50%;
}
#linkToSoccer{
    text-decoration: none;
    font-size: 20px;
    color: black
}
#linkToSoccer:hover {
color: blue;
}
#linkToTennis{
    text-decoration: none;
    font-size: 20px;
    color: black
}
#linkToTennis:hover {
color: blue;
}